---
import Layout from '../layouts/Layout.astro';
import styles from './history.module.scss';
import JobCard from '../components/JobCard.astro';
---

<Layout>
	<div class={styles.pageWrapper}>
		<div class={styles.timeLineWrapper}>
			<JobCard
				circleColor='#d54821'
				topPosition='calc(7vh + 2em)'
				title='Hana Tour Inc.'
				description='I worked as the web developer with a focus on making the site more responsive for different screen sizes. I also developed a parser that takes structured taxi reservation requests, validates booking data, and stores normalized records in a SQL database for dispatch management, drastically reducing processing time.'
				delayTime={0}
			/>
			<JobCard
				circleColor='#797778'
				topPosition='calc(7vh + 2em + 50px)'
				title='Delighted Games LLC.'
				description=`Using React and Three.js (a JavaScript framework for 3D animations), I built the gaming company's website. I also used Blender to import .fpx files and modify them for .glb files, which is what's used in Three.js. Outside of the technical implementation, I also conducted user sureys to validate the UX approach.`
				delayTime={0.8}
			/>
			<JobCard
				circleColor='#9c6f45'
				topPosition='calc(7vh + 2em + 100px)'
				title=`NASA L'SPACE`
				description=`As the principal investigator of NASA L'SPACE's AI Team, I ideated a computer vision model software to accelerate Martian research process. Due to an NDA, I can't disclose further exactly the end product our team developed, but the project passed the first round for 10k funding. `
				delayTime={1.6}
			/>
			<JobCard
				circleColor='#151a2c'
				topPosition='calc(7vh + 2em + 150px)'
				title='Piko Inc.'
				description='I worked for a local Hawaiian clothing brand to help them build their website and also a basic CMS (Content Management System) for them to handle updating the website accordingly. During the process, I gained familiarity with Next.js and Supabase, along with OAuth and payment processing.'
				delayTime={2.4}
			/>
		</div>
	</div>
</Layout>
