---
import NavBar from '../components/NavBar.astro';
import { ClientRouter } from 'astro:transitions';
import { fade } from 'astro:transitions';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter />
	</head>
	<body>
		<NavBar transition:persist />
		<slot transition:animate={fade({ duration: '0.5s' })} />
	</body>
</html>

<style>
	html {
		margin: 0;
		width: 100%;
		min-height: 100dvh;
		background-color: #ebe9d5;
	}

	body {
		margin: 0;
		width: 100%;
		min-height: 100dvh;
		background-color: #ebe9d5;
		overscroll-behavior: none;
		overflow-x: hidden;
	}
	:root {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
</style>
